.pre {
  padding: 2rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem !important;
}
/* 
.article img {
  @apply mb-4;
}
.article code {
  @apply bg-slate-100 dark:bg-[#202020] py-1 px-2 rounded m-1;
}
.article > pre {
  @apply pre;
}
.article > pre > code {
  @apply bg-transparent dark:bg-transparent;
}

th,
td {
  @apply border border-gray p-2;
}
.article h2,
.article h3,
.article h4,
.article h5,
.article h6,
.article table,
.article p,
.article li,
.article a {
  @apply dark:text-light;
}
.article p,
.article li,
.article a {
  @apply text-lg;
}
.article table {
  @apply my-8;
}
.article p {
  @apply my-3;
} */
