/* ========== import font source ========== */
@import "fonts.css";

/* ========== import custom styles ========== */
@import "custom-styles.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ========== tailwind custom styles ========== */
@layer components {
  body {
    @apply bg-light dark:bg-dark transition-all duration-500;
  }
  .container {
    @apply max-w-[1112px] mx-auto px-4;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-outfit;
  }
  p,
  li,
  a {
    @apply font-inter dark:font-light text-dark-gray transition-all;
  }
}
