/* ========== import font source ========== */
@import "fonts.css";

/* ========== import custom styles ========== */
@import "custom-styles.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ========== tailwind custom styles ========== */
@layer components {
  body {
    @apply bg-light dark:bg-dark;
  }
  .container {
    @apply max-w-[1112px] mx-auto px-4;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-outfit;
  }
  article h1,
  h1 {
    @apply text-6xl sm:text-8xl main-heading;
  }
  p,
  li,
  a {
    @apply font-inter dark:font-light text-dark-gray transition-all;
  }
  article p,
  article li,
  article a {
    @apply dark:text-light text-lg;
  }
  .footer-icons {
    @apply dark:text-light flex items-center border border-dark dark:border-light p-4 rounded-lg justify-center;
  }
}
