---
import Github from "@components/lottie/Github.jsx";
import Facebook from "@components/lottie/Facebook.jsx";
import Twitter from "@components/lottie/Twitter.jsx";
import LinkedIn from "@components/lottie/LinkedIn.jsx";
---

<footer class="container">
  <p>
    Developed by <strong>Uzair Ahmed</strong>
  </p>
  <div>
    <Github client:visible />
    <Facebook client:visible />
    <Twitter client:visible />
    <LinkedIn client:visible />
  </div>
</footer>
