---
import { IPageTitle } from "@types";

const { title } = Astro.props as IPageTitle;
---

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>
<meta name="description" content="Lorem ipsum dolor sit amet, consectetur" />
<meta name="theme-color" content="#FFFFFF" />
<link rel="preload" href="/fonts/Inter/Inter-Light.ttf" as="font" crossorigin />
<link
  rel="preload"
  href="/fonts/Outfit/Outfit-SemiBold.ttf"
  as="font"
  crossorigin
/>
