---
import {INavItemProps} from "@types";

const {text, link} = Astro.props as INavItemProps;
---

<li>
  <a
    class="p-4 dark:text-light text-lg md:hover:bg-slate-100 md:dark:hover:bg-transparent hover:underline decoration-4 decoration-blue focus:border-b-4 underline-offset-8 hover-underline-animation"
    href={link}>{text}</a
  >
</li>
