---
import Layout from "@layouts/Layout.astro";
import MetaHead from "@components/general/MetaHead.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <MetaHead
      title={"Console | Portfolio"}
      description={"Software Engineer based in India."}
    />
  </head>

  <body>
    <Layout>
      <p>Console Upcoming</p>
    </Layout>
  </body>
</html>
