---
import ProjectCard from "./ProjectCard.astro";
---

<section>
  <h2 class="w-[15rem] text-xl font-semibold dark:text-light mt-16">
    FEATURE PROJECTS
  </h2>
  <div class="grid md:grid-cols-2 grid-cols-1 gap-4 my-16">
    <ProjectCard />
    <ProjectCard />
    <ProjectCard />
    <ProjectCard />
    <ProjectCard />
    <ProjectCard />
  </div>
</section>
