---
import ProjectCard from "./ProjectCard.astro";

const projects = await Astro.glob("../../pages/projects/*.md");

const featureProjects = projects.map((feature, index) => {
  if (feature.frontmatter.isFeatured && index < 6) {
    return feature.frontmatter;
  }
});
---

<section>
  <h2 class="w-[15rem] text-xl font-semibold dark:text-light mt-16">
    FEATURE PROJECTS
  </h2>
  <div class="grid md:grid-cols-2 grid-cols-1 gap-4 my-16">
    {featureProjects.map((project) => <ProjectCard projectDetail={project} />)}
  </div>
</section>
