---
export interface Props {
    name: string;
    about: string;
}

const { name, about } = Astro.props as Props;
---

<p class="dark:text-light text-dark mt-[117px]">Hey, I’m</p>
<h1 class="main-heading text-6xl sm:text-8xl">{name}</h1>
<p class="dark:text-light text-dark text-lg">
    {about}
</p>
