---

---

<header class="container dark:text-light text-dark font-inter flex items-center justify-between h-[123px]">
    <a class="text-3xl font-bold font-inter" href="/">UA.</a>
    <nav>
        <ul class="flex items-center">
            <li>
                <a class="p-4 block text-lg font-light font-inter" href="blogs">Blogs</a>
            </li>
            <li>
                <a class="p-4 block text-lg font-light font-inter" href="resume">Resume</a>
            </li>
            <li>
                <a class="p-4 block text-lg font-light font-inter" href="contact">Contact</a>
            </li>
        </ul>
    </nav>
</header>