---
import MetaHead from "@components/general/MetaHead.astro";
import Layout from "@layouts/Layout.astro";

export async function getStaticPaths() {
  const posts = await Astro.glob("../../posts/*.md");
  return posts.map((post) => ({
    params: {
      slug: post.frontmatter.slug,
    },
    props: {
      post,
    },
  }));
}
const { Content, frontmatter } = Astro.props.post;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <MetaHead title={frontmatter.title} ogImageUrl={frontmatter.featureImage} />
  </head>
  <body>
    <Layout title={frontmatter.title}>
      <article class="article my-16">
        <Content />
      </article>
    </Layout>
  </body>
</html>
