---
import Footer from "@components/general/Footer.astro";
import Navbar from "@components/general/Navbar.astro";
import "../styles/style.css";
---

<Navbar />
<main class="container mx-14 lg:mx-8">
  <slot />
</main>
<Footer />
